<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>回收站</title>
    <style>
        body{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>{{ current_user.username }}的回收站</h1>
    <a href="{{ url_for('userhome',username=current_user.username) }}">点我返回主页</a>
    <br><br>
    {% for infos in bin_info %}
    <tr>
        <td>医院：{{ infos.hospitalname }}</td>
        <td>日期：{{ infos.date }}</td>
        <td>
            就诊情况：{{ infos.details }}
            <a href="{{ url_for("delbin", info_id=infos.id) }}">彻底删除</a>
            <a href="{{ url_for("recover", info_id=infos.id) }}">恢复</a>
        </td>
    </tr><br>
    {% endfor %}
</body>
</html>